<!doctype html>
<html lang="en">

<head>
    {{> meta}}
    <meta name="description" content="A blog of technical memos and tips.">
    <title>{{site.title}}</title>
    {{> css}}
</head>

<body>
    {{> header}}
    {{#each pagination.files}}
    <article>
        <h2><a href="/{{path}}/">{{title}}</a></h2>
        <h6>
            Published <time>{{formatDate publishDate}}</time>
            {{#if updateDate}}
            | Updated <time>{{formatDate updateDate}}</time>
            {{/if}}
            | <a href="/{{path}}/">Read More</a>
        </h6>
        {{&excerpt}}
    </article>
    {{/each}}
    <footer>
        {{#if pagination.previous}}
        <div class="float-left"><a href="/{{shortenPath pagination.previous.path}}">&laquo; Prev Page</a></div>
        {{/if}}
        {{#if pagination.next}}
        <div class="float-right"><a href="/{{shortenPath pagination.next.path}}">Next Page &raquo;</a></div>
        {{/if}}
    </footer>
</body>

</html>
