<!doctype html>
<html>

<head>
    <title>zzpxyx</title>
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet" type="text/css">
</head>

<body>
    {{>header}}
    {{#each collections.posts}}
    <article>
        <h2><a href={{path}}>{{title}}</a></h2>
        <h6>
            Published <time pubdate>{{formatDate publishDate}}</time>
            {{#if modifyDate}}
            | Updated <time>{{formatDate modifyDate}}</time>
            {{/if}}
            | <a href={{path}}>Read More</a>
        </h6>
        {{&excerpt}}
    </article>
    {{/each}}
</body>

</html>
