<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="description" content="A blog of technical memos for weird issues">
    <title>{{site.title}}</title>
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab%7CRoboto%7CRoboto+Mono" rel="stylesheet" type="text/css">
</head>

<body>
    {{>header}}
    {{#each collections.posts}}
    <article>
        <h2><a href={{path}}>{{title}}</a></h2>
        <h6>
            Published <time>{{formatDate publishDate}}</time>
            {{#if modifyDate}}
            | Updated <time>{{formatDate modifyDate}}</time>
            {{/if}}
            | <a href={{path}}>Read More</a>
        </h6>
        {{&excerpt}}
    </article>
    {{/each}}
</body>

</html>
