<!doctype html>
<html>

<head>
    {{> meta}}
    <title>{{pageTitle}}</title>
    {{> css}}
    <link href="/styles/solarized-light.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    {{> header}}
    <article>
        <h2>{{title}}</h2>
        <div>
            Published <time>{{formatDate publishDate}}</time>
            {{#if updateDate}}
            | Updated <time>{{formatDate updateDate}}</time>
            {{/if}}
        </div>
        {{&contents}}
    </article>
    <footer>
        {{#if next}}
        <div class="float-left"><a href="/{{next.path}}/">&laquo; {{next.title}}</a></div>
        {{/if}}
        {{#if previous}}
        <div class="float-right"><a href="/{{previous.path}}/">{{previous.title}} &raquo;</a></div>
        {{/if}}
    </footer>
</body>

</html>
