<!doctype html>
<html>

<head>
    {{> meta}}
    <title>{{pageTitle}}</title>
    {{> css}}
    <link href="/styles/solarized-light.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    {{> header}}
    <article>
        <h2>{{title}}</h2>
        <div>
            Published <time>{{formatDate publishDate}}</time>
            {{#if updateDate}}
            | Updated <time>{{formatDate updateDate}}</time>
            {{/if}}
        </div>
        {{&contents}}
    </article>
    <footer>
        {{#if collection.posts.previous}}
        <div class="float-left"><a href="/{{collection.posts.previous.permalink}}/">&laquo; {{collection.posts.previous.title}}</a></div>
        {{/if}}
        {{#if collection.posts.next}}
        <div class="float-right"><a href="/{{collection.posts.next.permalink}}/">{{collection.posts.next.title}} &raquo;</a></div>
        {{/if}}
    </footer>
</body>

</html>
