<!doctype html>
<html>

<head>
    {{> meta}}
    <title>{{pageTitle}}</title>
    {{> css}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/solarized_light.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    {{> header}}
    <article>
        <h2>{{title}}</h2>
        <h6>
            Published <time>{{formatDate publishDate}}</time>
            {{#if modifyDate}}
            | Updated <time>{{formatDate modifyDate}}</time>
            {{/if}}
            | <a href="javascript:history.back()">Go Back</a>
        </h6>
        {{&contents}}
    </article>
    <footer>
        {{#if previous}}
        <div><a href="/{{previous.path}}" class="float-left">&laquo; {{previous.title}}</a></div>
        {{/if}}
        {{#if next}}
        <div><a href="/{{next.path}}" class="float-right">{{next.title}} &raquo;</a></div>
        {{/if}}
    </footer>
</body>

</html>
